*
  font-family: 'roboto'

.header
  display: flex
  align-items: center

.title-container
  width: 100%

.main-title
  margin-bottom: 0

.main-subtitle
  margin-top: 0

.wallet-connect
  width: 200px

.words-input
  width: 410px
  transform: translateX(-50%)
  position: relative
  left: 50%

.content-box
  padding: 20px
  margin-top: 10px
  margin-bottom: 30px

.solana-image
  width: 70px
  margin-top: 7px

@media (max-width: 500px)
  .words-input
    width: 100%